.formContainer {
  background: #fff8ff;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #8a01da, #f2ddff) border-box;
  border-radius: 8px;
  font-family: var(--font-poppins);
  width: 96%;
  transition: width 0.3s ease-in-out; 
}

.adjustedWidth {
  
 
  padding:  30px 5px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #8a01da;
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inputField {
  width: 100%; /* Ensure responsiveness */
  max-width: 624px;
  height: 22px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.generateButton {
  background: #8a01da;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.uploadButton {
  background: #efe5ff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
}


@media (max-width: 1024px) {
  .formContainer {
    width: 80%;
  }

  .adjustedWidth {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .formContainer {
    width: 90%; 
  }

  .adjustedWidth {
    width: 85% !important;
  }

  .inputField {
    width: 90%;
  }
}
