.formContainer {
  background: #fff8ff;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #8a01da, #f2ddff) border-box;
  border-radius: 8px;
  font-family: var(--font-poppins);
  width: 100%;
}

.adjustedWidth {
  width: calc(100% - 440px); /* Adjust based on the width of the scroller */
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #8a01da;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inputField {
  width: 624px;
  height: 22px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.generateButton {
  background: #8a01da;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
}

.uploadButton {
  background: #efe5ff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
}