
.navbar {
    width: 1195px;
    height: 74px;
    position: absolute;
    top: 44px;
    left: 123px;
    border-radius: 48px;
    background: #FFFFFF; 
    backdrop-filter: blur(10px); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px; 
    gap: 8px; 
    z-index: 4;
    font-family: var(--font-poppins);
  }
  
 
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #929292;
    margin-top: 35px;
  }
  
 
  .menu {
    display: flex;
    gap: 8px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px; 
    color: #363636;
  }
  
  
  .signupButton {
   
    padding: 10px 20px;
    border: 1px solid #8A01DA;
    border-radius: 20px;
    color: #8A01DA;
    text-decoration: none;
    font-size: 16px;
  }